# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indentstyle = space
indentsize = 2
insertfinalnewline = true
trimtrailingwhitespace = true

[*.ts]
quotetype = single

[*.md]
maxlinelength = off
trimtrailingwhitespace = false
